*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
.navbar{
    background-color: rgb(171, 205, 235);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

@media (max-width:480px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }
}
.menu-bar {
    display: inline-block;
}

.menu-bar button {
    padding: 15px 15px;
    background-color: bisque;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.menu-bar:hover button {
    background-color: rgb(204, 197, 117);
}

.menu-bar a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black; 
}

.menu-bar .option {
    display: none;
    background-color: bisque;
    border-radius: 8px;
    margin-top: 2px;
    padding: 4px;
}

.menu-bar:hover .option {
    display: block;
    position: absolute;
}
.menu-bar a:hover {
    background-color: rgb(204, 197, 117);
    border-radius: 5px;
}

.navbar .logo {
    display: flex;
    font-size: 25px;
}
.navbar img {
    width: 50px;
    height: auto;
    margin-left: 20px;
    margin-top: 3px;
}

.banner {
    background-color:#FCF6FD;
}
html, .banner {
    height: 100%;
    margin: 0;
    background-color:#FCF6FD;
}

.banner1 {
    display: flex;
    justify-content: space-around;
}

.banner img {
    width: 500px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .banner img {
        width: 350px;
        display: block;
        
    }
}

@media (max-width:480px) {
    .banner1{
     flex-direction: column;
    }
    
}

.banner a {
    color: black;
    display: block;
    flex-direction: column;
    text-decoration: none;
    padding-top: 20px;
}

.banner h1 {
    font-weight: 500px;
    padding-top: 50px;
    font-size: 32px;
}
.banner h2 {
    font-size: 60px;
    padding-left: 15px;
    font-weight: 600px;
    
}

.banner .banner-text {
    padding-left: 10px;
    padding-top: 30px;
}
@media (max-width: 480px) {
    .banner.banner-text {
        display: block;
    }
    
}

aside {
    width: 100%;
    float: left;
}

section button {
    margin-top: 25px;
    padding: 15px 15px;
    border: none;
    background-color: rgb(122, 122, 206);
    border-radius: 20px;
    cursor: pointer;
}

section button:hover {
    background-color: rgb(143, 177, 177);
    transition: 0.5s;

}
html, .sec-2nd{
    height: 100%;
    margin: 0;
}

.sec-2nd {
    display: flex;
    justify-content: space-around;
    
}
@media (max-width:480px) {
    .sec-2nd {
        display: block;
    }
    
}
.sec-2nd .sec-2nd-text {
    width: 100%;
}

.sec-2nd img {
    width: 600px;
    margin-left: 20px;
    float: left;
}
@media (max-width:768px) {
    .sec-2nd img {
        width: 400px;
    }   
}
@media (max-width:480px) {
    .sec-2nd img {
      
       display: block;
    }   
}

.sec-2nd {
    margin: 20px;
}
.sec-2nd h1 {
    font-size: 38px;
    color: rgb(77, 87, 84);
}

.sec-2nd p {
    padding-top: 10px;
    font-size: 18px;
}

.sec-2nd button {
    padding: 15px;
    border-radius: 20px;
    border: none;
    background-color: rgb(122, 122, 206);
    margin: 15px;
    cursor: pointer;
}
.sec-2nd button:hover {
    background-color:  rgb(143, 177, 177) ;
    transition: 0.5s;
}

